coverage/
node_modules/
.tmp/

.env*
!.env.development.example
!.env.local.example

.DS_Store

# Electron
out/
dist/

# Turbo
.turbo

.eslintcache

# Electron Vite's Temp Files
electron.vite.config*.mjs
